body {
    background-color: beige;
    color: rgb(137, 116, 116);
    text-align: center;
}

img {
    border-radius: 50%;
    width: 20rem;
}

span {
    color: rgb(198, 123, 11);
}

a {
    text-decoration: none;
}

a:hover {
    background-color: bisque;
}